<h1>確認画面</h1>
<%= form_with(model: @message, local: true) do |f| %>
  <p>名前: <%= @message.name %></p>
  <%= f.hidden_field :name %>
  <p>メール: <%= @message.email %></p>
  <%= f.hidden_field :email %>
  <p>内容: <%= @message.content %></p>
  <%= f.hidden_field :content %>
  <%= f.submit '送信' %>
  <%= f.submit '戻る', name: 'back' %>
<% end %>
