<h1>注文一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th>注文番号</th>
      <th>購入者</th>
      <th>合計金額</th>
      <th>購入日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= "#{order.last_name} #{order.first_name}" %></td>
        <td><%= number_to_currency(order.total_price, unit: '¥', precision: 0) %></td>
        <td><%= l order.created_at %></td>
        <td><%= link_to '詳細',admin_order_path(order.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
