<h2><%= t('.order_details') %></h2>
<p><%= t('.order_number') %>: <%= @order.id %></p>
<p><%= t('.name') %>: <%= @order.last_name %> <%= @order.first_name %></p>
<h3><%= t('.purchased_items') %></h3>
<% @order.order_items.each do |item| %>
  <div class="item-detail">
    <p><%= t('.product.name') %>: <%= item.product_name %></p>
    <p><%= t('.quantity') %>: <%= item.quantity %></p>
    <p><%= t('.price') %>: <%= number_to_currency(item.price, unit: "¥", precision: 0)%></p>
  </div>
<% end %>
<% if @order.promotion_code %>
  <div class="promotion_info">
    <h3><%= t('.promotion_title') %></h3>
    <p>
      <%= t('.code') %>: <strong><%= @order.promotion_code.code %></strong><br>
      <%= t('.discount_amount') %>: <strong><%= number_to_currency(@order.discount, unit: t('currency'), precision: 0) %></strong>
    </p>
  </div>
<% end %>
<p><%= t('.total_amount') %>: <%= number_to_currency(@order.total_price, unit: t('currency'), precision: 0)%></p>
