<h1>商品管理一覧</h1>
<%= link_to '新しい商品を作成', new_admin_product_path, class: 'btn btn-primary' %>

<table class="table-brotdered mt-4">
    <thead>
      <tr>
        <th>商品名</th>
        <th>価格</th>
        <th>説明</th>
        <th>アクション</th>
     </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
       <tr>
        <td><%= product.name %></td>
        <td><%= product.price %>円</td>
        <td><%= product.description %></td>
        <td>
          <%= link_to '編集', edit_admin_product_path(product), class: 'btn btn btn-warning' %>
          <%= link_to '削除', admin_product_path(product), method: :delete, data: { confirm: '本当に削除しますか？'}, class: 'btn btn-danger' %>
        </td>
     </tr>
     <% end %>
  </tbody>
</table>
