<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">おにぎりや</h1>
      <p class="lead fw-normal text-white-50 mb-0">美味しい冷凍おにぎりを！</p>
    </div>
  </div>
</header>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @products.each do |product| %>
        <div class="col mb-5">
          <div class="card h-100">
            <%= link_to product_path(product.id) do %>
              <% if product.image.attached? %>
                <%= image_tag url_for(product.image), class: "card-img-top" %>
              <% end %>
            <% end %>
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="fw-bolder"><%= product.name %></h5>
                <% if product.original_price.present? && product.original_price > product.price %>
                  <span class="text-decoration-line-through">
                    <%= format_price(product.price, unit: "¥", precision: 0) %>
                  </span>
                <% end %>
                <%= format_price(product.price) %>
              </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <%= button_to cart_cart_items_path, params: { product_id: product.id, quantity:1 }, method: :post, class: "btn btn-outline-dark mt-auto" do %>
                  Add to cart
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
